*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(106, 8, 159);
    overflow: hidden;
}

.mainGame{
    /* position: relative; */
    overflow: hidden;
    /* overflow-x: hidden;
    background-image: url(castle.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    background-size: 100vw 100vh;
    animation: slide 10s linear infinite;
    animation-fill-mode: both; */
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-3000px, 0, 0); /* The image width */
    }
}

.scroll-container{
    background-image: url(cast.png);
    height: 790px;
    width: 5000px;
    animation: slide 20s linear infinite;
   /* background-attachment: scroll; */
}

#angel{
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 500px;
    align-self: flex-end;
    animation: angel 0.2s linear infinite;
    animation-duration: 0.5s;
    animation-iteration-count: linear infinite;
    animation-timing-function: ease;
    transform-origin: 0 0;
    animation: jump .7s linear alternate infinite;
}

/* @keyframes jump {
    0%   {transform: translate3d(0, 0, 0);}
    100% {transform: translate3d(0, -150%, 0);}
  } */

.gameover{
    visibility: hidden;
    position: absolute;
    color: black;
    font-size: 0;
    top: 0;
}

.game{
    position: absolute;
    top: 0%;
    left: 50%;
    color: #F7FA3D;
    transform: translate(-50%, 10%);
    font-size: large;
}

.score{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #F7FA3D;
    font-size: large;
}

.info{
    color:rgb(238, 15, 238);
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
}

.voldemort{
    width: 120px;    
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 30px;
    animation: voldemortis 2.5s infinite linear;
}

/* if width = 120px  */

@keyframes voldemortis{
    0%{
        left: 100%
    }
    100%{
        left: -50px
    }
}

/* .dementor{
    width: 120px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 200px;
    animation: dementors 4s infinite linear;
}

@keyframes dementors{
    0%{
        left: 100%
    } 
    100%{
        left: -50px
    }
} */


.snitch{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 250px;
    left: 500px;
    animation: snitches 5s infinite linear;
}

@keyframes snitches{
    0%{left: 100%} 
    100%{left: -20px}
}



